* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HeaderDashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 1000;
}

.MainDashboard {
    margin-left: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainDashboard section {
    width: 100%;
}
