* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ContainerTareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 20px;
    left: 270px;
    padding: 20px;
    gap: 50px;
    width: calc(100% - 270px); 
    height: auto;
}
